.about{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .collapse-container{
        flex-grow: 1;
        max-width: 1400px;
        width: 100%;
        margin: 0 auto;
    }
}
