@import "./Settings.scss";

.collapse {
	width: 100%;
	height: 48px;
	margin: 0 auto 30px;
	overflow: hidden;
	transition: height .4s ease;
	
	.collapse-btn {
		position: relative;
        z-index: 10;
		width: 100%;
		height: clamp(30px, 6vw, 47px);
		border: none;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 18px;
		font-size: clamp(12px, 4vw, 16px);
		border-radius: 5px;
		color: $primary-color;
		background: $secondary-color;
		cursor: pointer;
	}

	.collapse-content {
		width: 100%;
		padding: 3% 18px 18px;
		font-size: clamp(12px, 2vw, 18px);
		line-height: 3vh;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		color: $secondary-color;
		background: $tertiary-color;
		transform: translateY(-100%);
        transition: transform .4s ease;
	}
}
