@import "./Settings.scss";

footer{
    width: 100%;
    height: 200px;
    @include flex-center;
    flex-direction: column;
    gap: 28px;
    margin-top: 46px;
    color: $primary-color;
    background: #000;

    .footer-logo{
        width: 90px;
    }
    
    .footer-text{
        font-size: clamp(12px, 2vw, 24px);
    }
}
