@import "./Settings";

.notfound-content {
  width: 100%;
  height: 60vh;
  @include flex-center;
  flex-direction: column;
  margin-bottom: 20px;
  color: $secondary-color;

  .error-number {
    font-size: clamp(96px, 20vw, 288px);
    font-weight: 700;
  }

  .error-message {
    font-size: clamp(18px, 3vw, 36px);
    font-weight: 500;
    text-align: center;
  }
}

.goback-home {
  display: block;
  text-align: center;
  font-size: clamp(14px, 2vw, 18px);
  color: $secondary-color;
}
