// ---------------- HELPERS POUR KASA ----------------- //

$font-family: 'Montserrat', sans-serif;
$primary-color: #FFF;
$secondary-color: #FF6060;
$tertiary-color: #F7F7F7;

@mixin flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
