@import "../pages/Settings";

.card{
    max-width: clamp(220px, 25vw, 340px);
    aspect-ratio: 1;
    border-radius: 10px;
    overflow: hidden;
    position: relative;

    &::after{
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    }

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform .5s ease;
    }

    .card-title{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: auto;
        padding: 20px;
        font-size: 18px;
        font-weight: 500;
        color: $primary-color;
        z-index: 1;
    }

    &:hover img {
        transform: scale(1.03);
    }
}

@media (max-width: 820px){
    .card{
        width: 100%;
        max-width: 100%;
        height: 255px;
    }
}