.card {
  border: 1px solid #ccc;
  padding: 16px;
  margin: 16px;
  img {
    width: 100%;
    height: auto;
  }
  .card-info {
    margin-top: 8px;
    h3 {
      font-size: 1.2em;
      color: $primary-color;
    }
    p {
      font-size: 1em;
      color: #333;
    }
  }
}
