@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

@import "../components/Banner";
@import "../components/Card";
@import "../components/Collapse";
@import "../components/Footer";
@import "../components/GridCards";
@import "../components/HousingInfos";
@import "../components/Loading";
@import "../components/Navbar";
@import "../components/Slider";
@import "../pages/About";
@import "../pages/Housing";
@import "../pages/NotFound";
@import "../pages/Settings";
@import "../pages/Settings";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  padding: 0 4vw;
  margin: 0 auto;
  font-family: $font-family;
  background: $primary-color;
}
